<%= render "shared/header" %>


  <li class='weare_house'>
    <%= @monolog.monolog %>
    <%= link_to @monolog.user.nickname, user_path(@monolog.user) %>
  </li>

<%= link_to '削除', monolog_path(@monolog.id), method: :delete %>

<%= form_with(model: [@monolog, @comment], local: true) do |form| %>
  <%= form.text_area :comment, placeholder: "コメントする", rows: "2" %>
  <%= form.submit "SEND" %>
<% end %>

<p>
  <% @comments.each do |c| %>
    <strong><%= link_to c.user.nickname, "/users/#{c.user_id}" %>：</strong>
    <%= c.comment %>
    <%= link_to '削除', monolog_comment_path(@monolog, c), method: :delete %>
  <% end %>
</p>
