<%= render "shared/header" %>

<p class="TEST">
Hello World!
</p>

<%= link_to '倉庫登録', new_warehouse_path, class: "sign-up" %>

<% @warehouses.each do |w| %>
  <li class = 'weare_house'>
    <%= link_to w.w_name, warehouse_path(w.id),class: "" %>
    <%= w.prefecture.name %>
  </li>
<% end %>

<%= link_to '周辺登録', new_around_path, class: "sign-up"%>

<% @arounds.each do |a| %>
  <li class = 'weare_house'>
    <%= link_to a.a_name, around_path(a.id),class: "" %>
    <%= a.prefecture.name %>
  </li>
<% end %>

<%= link_to 'Contacts', new_contact_path %>