<%= render "shared/header" %>

<%= form_with model: @warehouse, class: 'registration-main', local: true do |f| %>
<div class='form-wrap'>
  <div class='form-header'>
    <h1 class='form-header-text'>
      ユーザー登録
    </h1>
  </div>
  <div class='form-group'>
  <div class='form-group-text'>
    <label class='column-name'>倉庫名</label>
    <span class='must'>必須</span>
  </div>
  <%= f.text_area :w_name, class:"input-default", id:"nickname", placeholder:"トラック乙女", maxlength:"10" %>
</div>

<div class='form-group'>
  <div class='form-group-text'>
    <label class='column-name'>郵便番号</label>
    <span class='must'>必須</span>
  </div>
  <%= f.text_area :w_postnum, class:"input-default", id:"email", placeholder:"111@111" %>
</div>

<div class='form-group'>
  <div class='form-group-text'>
    <label class='column-name'>住所（都道府県）</label>
    <span class='must'>必須</span>
  </div>
      <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"select-box", id:"prefecture"}) %>
</div>

<div class='form-group'>
  <div class='form-group-text'>
    <label class='column-name'>住所</label>
  </div>
  <%= f.text_area :w_address, class:"input-default",id:"user-detail" %>
</div>


  <div class='form-group'>
  <div class='form-group-text'>
    <label class='column-name'>電話番号</label>
  </div>
  <%= f.text_area :w_phone, class:"input-default",id:"user-detail" %>
</div>

  <div class='form-group'>
  <div class='form-group-text'>
    <label class='column-name'>開始時間</label>
  </div>
  <%= f.text_area :w_start_time, class:"input-default",id:"user-detail" %>
</div>

  <div class='form-group'>
  <div class='form-group-text'>
    <label class='column-name'>終了時間</label>
  </div>
  <%= f.text_area :w_close_time, class:"input-default",id:"user-detail" %>
</div>

<div class='form-group'>
  <div class='form-group-text'>
    <label class='column-name'>取扱品</label>
    <span class='must'>必須</span>
  </div>
      <%= f.collection_select(:w_stock_type_id, WStockType.all, :id, :name, {}, {class:"select-box", id:"prefecture"}) %>
</div>

  <div class='form-group'>
  <div class='form-group-text'>
    <label class='column-name'>ルール</label>
  </div>
  <%= f.text_area :w_rule, class:"input-default",id:"user-detail" %>
</div>


  <div class='form-group'>
  <div class='form-group-text'>
    <label class='column-name'>ルール</label>
  </div>
  <%= f.text_area :w_other, class:"input-default",id:"user-detail" %>
</div>






  <div class='register-btn'>
    <%= f.submit "会員登録" ,class:"register-red-btn" %>
  </div>



</div>
<% end %>